/* styles.css */
body {
  background-image: url('bgi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif; /* Set a default font-family */
  color: #333; /* Default text color */
}

h1 {
    background-color: #0078d4;
    color: #fff;
    padding: 20px;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #0078d4;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #0078d4;
}

a:hover {
    text-decoration: underline;
}
